.uploader input {
  display: none; 
}

.uploader {
 webkit-align-items: center;
    align-items: center;
    /* background-color: #efefef; */
    /* background-color: rgba(0, 0, 0, 0.02); */
    display: -webkit-flex;
    display: flex;
    height: 300px;
    -webkit-justify-content: center;
    justify-content: center;
    /* outline: 3px dashed #ccc; */
    outline-offset: 5px;
    position: relative;
    width: 229px;
    background-image: url(../imagenes/imagen.png);
    background-size: cover;
    cursor: pointer;
}
  
.uploader img,
.uploader .icon {
  pointer-events: none; 
}

.uploader, 
.uploader .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in; 
}

.uploader .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em; 
}

.uploader.dragging {
  outline-color: orangered; 
}

.uploader.dragging .icon {
  color: orangered; 
}

.uploader.loaded .icon {
  color: #fff;
  color: rgba(255, 255, 255, 0.5); 
}

.uploader img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1; 
}
  
.uploader img.loaded {
  opacity: 1; 
}

.uploader1 input {
  display: none; 
}

.uploader1 {
 webkit-align-items: center;
    align-items: center;
    /* background-color: #efefef; */
    /* background-color: rgba(0, 0, 0, 0.02); */
    display: -webkit-flex;
    display: flex;
    height: 300px;
    -webkit-justify-content: center;
    justify-content: center;
    /* outline: 3px dashed #ccc; */
    outline-offset: 5px;
    position: relative;
    width: 229px;
    background-image: url(../imagenes/imagen.png);
    background-size: cover;
    cursor: pointer;
}
  
.uploader1 img,
.uploader1 .icon {
  pointer-events: none; 
}

.uploader1, 
.uploader1 .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in; 
}

.uploader1 .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em; 
}

.uploader1.dragging {
  outline-color: orangered; 
}

.uploader1.dragging .icon {
  color: orangered; 
}

.uploader1.loaded .icon {
  color: #fff;
  color: rgba(255, 255, 255, 0.5); 
}

.uploader1 img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1; 
}
  
.uploader1 img.loaded {
  opacity: 1; 
}



.uploader2 input {
  display: none; 
}

.uploader2 {
 webkit-align-items: center;
    align-items: center;
    /* background-color: #efefef; */
    /* background-color: rgba(0, 0, 0, 0.02); */
    display: -webkit-flex;
    display: flex;
    height: 300px;
    -webkit-justify-content: center;
    justify-content: center;
    /* outline: 3px dashed #ccc; */
    outline-offset: 5px;
    position: relative;
    width: 229px;
    background-image: url(../imagenes/imagen.png);
    background-size: cover;
    cursor: pointer;
}
  
.uploader2 img,
.uploader2 .icon {
  pointer-events: none; 
}

.uploader2, 
.uploader2 .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in; 
}

.uploader2 .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em; 
}

.uploader2.dragging {
  outline-color: orangered; 
}

.uploader2.dragging .icon {
  color: orangered; 
}

.uploader2.loaded .icon {
  color: #fff;
  color: rgba(255, 255, 255, 0.5); 
}

.uploader2 img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1; 
}
  
.uploader2 img.loaded {
  opacity: 1; 
}



.uploader3 input {
  display: none; 
}

.uploader3 {
 webkit-align-items: center;
    align-items: center;
    /* background-color: #efefef; */
    /* background-color: rgba(0, 0, 0, 0.02); */
    display: -webkit-flex;
    display: flex;
    height: 300px;
    -webkit-justify-content: center;
    justify-content: center;
    /* outline: 3px dashed #ccc; */
    outline-offset: 5px;
    position: relative;
    width: 229px;
    background-image: url(../imagenes/imagen.png);
    background-size: cover;
    cursor: pointer;
}
  
.uploader3 img,
.uploader3 .icon {
  pointer-events: none; 
}

.uploader3, 
.uploader3 .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in; 
}

.uploader2 .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em; 
}

.uploader3.dragging {
  outline-color: orangered; 
}

.uploader3.dragging .icon {
  color: orangered; 
}

.uploader3.loaded .icon {
  color: #fff;
  color: rgba(255, 255, 255, 0.5); 
}

.uploader3 img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1; 
}
  
.uploader3 img.loaded {
  opacity: 1; 
}



.uploader4 input {
  display: none; 
}

.uploader4 {
 webkit-align-items: center;
    align-items: center;
    /* background-color: #efefef; */
    /* background-color: rgba(0, 0, 0, 0.02); */
    display: -webkit-flex;
    display: flex;
    height: 300px;
    -webkit-justify-content: center;
    justify-content: center;
    /* outline: 3px dashed #ccc; */
    outline-offset: 5px;
    position: relative;
    width: 229px;
    background-image: url(../imagenes/imagen.png);
    background-size: cover;
    cursor: pointer;
}
  
.uploader4 img,
.uploader4 .icon {
  pointer-events: none; 
}

.uploader4, 
.uploader4 .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in; 
}

.uploader4 .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em; 
}

.uploader4.dragging {
  outline-color: orangered; 
}

.uploader4.dragging .icon {
  color: orangered; 
}

.uploader4.loaded .icon {
  color: #fff;
  color: rgba(255, 255, 255, 0.5); 
}

.uploader4 img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1; 
}
  
.uploader4 img.loaded {
  opacity: 1; 
}